.Box {
  box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
  margin: 1rem;
  width: min(calc(100% - 2rem), 55rem);
  height: fit-content;

  text-align: justify;
}

.Box iframe {
  box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
}

.Box .Inner {
  background-color: rgba(255, 255, 255, 1);
  padding: 1rem;
}

.Box .Inner h2 {
  text-align: center;
  padding: 1rem 0rem;
  margin-bottom: 1rem;
  width: 100%;
  /* background-color: mech-color(); */
  color: white;
}

.Box h1 {
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  font-size: 5rem;
  overflow: hidden;
  height: 5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  white-space: nowrap;
}
