.Links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  margin: 1rem;
  padding: 1rem;
  z-index: 1;
}

.Link {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.Link a {
  color: inherit;
  margin: 1rem;
}
